body{
    
    background-color: 	#FAEBD7;
}
table{
    border-spacing: 3px;
    margin: 0 auto;
    border: 1px solid;
 
}

td,th{
   
    border: 1px solid;
}
td{
    text-align: left;
}

.th1{
    padding: 14px;
}


